hopsworks==4.2.0
pyarrow
xgboost
scikit-learn
pandas
numpy
yfinance
fredapi
newsapi-python
transformers
torch
gradio
python-dotenv
matplotlib
seaborn
plotly
jupyter
ipykernel
pyyaml
tqdm
joblib
nbconvert
nbformat
